body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke; 
}  

body.dark{
    background-color: rgb(57, 57, 57);
    color: white;
    transition: 0.3s;
}

body::-webkit-scrollbar{
    width: 5px;
}

body::-webkit-scrollbar-track{
    background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background-color: #6649b8;
}

.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.box{
    height: 80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#boxOne{
    height: 47px;
    width: 47px;
    background-color: orange;
    border-radius: 12px;
}

#boxTwo{
    height: 47px;
    width: 47px;
    background-color: rgba(0, 255, 255, 0.362);
    border-radius: 12px;
}

#boxThree{
    height: 47px;
    width: 47px;
    background-color: yellow;
    border-radius: 12px;
}

.txt{
    margin: 0px;
    position: relative;
    top: 20px;
    left: 20px;
}

.navlist{
    height: 80px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}

li{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

a:hover{
    color: lightslategrey;
}

a{
    text-decoration: none;
    color: black;
}


.aOne.dark{
    color: aliceblue;
}

.aOne.dark:hover{
    color: rgba(240, 248, 255, 0.653);
}

.aTwo.dark{
    color: aliceblue;
}

.aTwo.dark:hover{
    color: rgba(240, 248, 255, 0.653);
}

.aThree.dark{
    color: aliceblue;
}

.aThree.dark:hover{
    color: rgba(240, 248, 255, 0.653);
}

#LtoD{
    height: 40px;
    width: 80px;
    border: solid black 1px;
    border-radius: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

#LtoD.dark{
    background-color: rgb(57, 57, 57);
    border: solid white 1px;
}

.ball{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-top: 5px;
    margin-left: 0px;
    background-color: black;
    transition: 0.3s;
}

.ball.right{
    transform: translateX(39px);
    background-color: white;
}

.mainOne{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name{
    height: 400px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.svg{
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Sco{
    font-size: x-large;
}

img{
    height: 80px;
    width: 80px;
    background-color: aliceblue;
    border-radius: 25px;
}

.myName{
    font-size: 50px;
    font-weight: 700;
    position: relative;
    left: 200px;
    margin: 0px;
}

.myDisc{
    font-size: 30px;
    position: relative;
    left: 200px;
    max-width: 200px;
}

#abtme{
    height: 50px;
    width: 100px;
    border-radius: 30px;
    position: relative;
    left: 200px;
    background-color: coral;
    color: rgb(57, 57, 57);
    border: solid black 1px;
}

#abtme.dark{
    color: white;
}

#abtme:hover{
    background-color: rgb(193, 99, 65);
}

#mainTwo{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#One{
    height: 200px;
    max-width: 50%;
}

.me{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.froo{
    margin-top: 0;
}

#mainThree{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.proj{
    margin: 0px;
    position: relative;
    left: 45%;
    max-width: 100px;
}


#nope{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nope div{
    height: 290px;
    width: 200px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 50, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    opacity: 0.3;
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
}

#nope div:hover{
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition: all 0.3s ease-in-out;
}

#proj1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#proj2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#proj3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#proj4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title{
    margin: 0;
}

.title.dark{
    color: white;
}

.title.dark:hover{
    color: rgba(240, 248, 255, 0.653);
}

.sdoku{
    height: 200px;
    width: 150px;
}

#mainFour{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cont{
    max-width: 150px;
}

#mail{
    max-width: 229px;
}

/*TABLET VIEW: */
@media only screen and (max-width: 920px){
    #nope div{
        height: 290px;
        width: 180px;
    }

    .myName{
        font-size: 40px;
        position: relative;
        left: 100px;
    }

    .myDisc{
        font-size: 30px;
        position: relative;
        left: 100px;
    }

    #abtme{
        height: 50px;
        width: 100px;
        border-radius: 30px;
        position: relative;
        left: 100px;
    }

    #mainTwo{
        height: 35vh;
    }

    .me{
        height: 150px;
        width: 150px;
    }
}

/*MOBILE VIEW: */
@media only screen and (max-width: 700px){

    .navlist{
        display: none;
    }

    .box{
        display: none;
    }

    .respNav{
        height: 50px;
        width: 50px;
        position: absolute;
        border: 0px;
        background: transparent;
    }

    #omg{
        height: 30px;
        width: 30px;
    }

    .navlist.show{
        width: 200px;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 150px;
    }

    #LtoD{
        height: 40px;
        width: 70px;
        border: solid black 1px;
        border-radius: 50px;
        margin-top: 5px;
    }
    
    .ball{
        height: 25px;
        width: 25px;
        border: solid black 1px;
        border-radius: 50px;
        margin-top: 5px;
        background-color: black;
    }

    .ball.right{
        transform: translateX(30px);
    }

    .mainOne{
        height: fit-content;
    }

    .svg{
        height: 350px;
    }

    .name{
        height: 350px;
    }

    img{
        height: 60px;
        width: 60px;
    }

    .name{
        width: 40%;
    }

    .myName{
        font-size: 30px;
        position: relative;
        left: 30px;
    }

    .myDisc{
        font-size: 20px;
        position: relative;
        left: 30px;
        max-width: 100px;
    }

    #abtme{
        height: 40px;
        width: 80px;
        border-radius: 20px;
        position: relative;
        left: 30px;
    }

    #mainTwo{
        height: 50vh;
    }

    #One{
        height: 300px;
    }

    .me{
        height: 150px;
        width: 150px;
    }

    .proj{
        position: relative;
        left: 40%;
    }

    #nope{
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #mainThree{
        height: fit-content;
    }

    .cont{
        max-width: 150px;
    }
    
    #mail{
        max-width: 229px;
    }
}

@media only screen and (min-width: 700px){
    .respNav{
        display: none;
    }
}

@media only screen and (max-height: 600px){
    .mainOne{
        height: 80vh;
    }

    #mainTwo{
        height: 60vh;
    }
}